html, body {
  margin: 0;
  padding: 0;
  display: block; margin-left: auto; margin-right: auto
}
#share {
  position: fixed;
  display:inline-block;
  bottom:0px;
  background:white;
}
canvas{
	display:block;
}
h3{
    display: inline-block;
}
.picture{
    display: inline-block; 
    margin-left: auto; 
    margin-right: 0;
}
{
    display: inline-block;
}
h6{
    margin-top: auto;
    text-align: justify ;
}
.alert alert-danger{
    margin-top: auto;
}